.grid-out{
    margin: 1%;

    .grid-in{
        margin-bottom: 5%;

        &:hover{
            cursor: pointer;
            transform: scale(1.03);
            transition: all 0.3s ease-in-out 0.0s;
        }
    }
}

